
<!DOCTYPE html>
<html>
<head>
<title>Rate Comparison Form</title>
</head>
<body>
<h1>Rate Comparison Form</h1>
<form action="/form" method="post">
<label for="hourly_rate">Hourly Rate:</label>
<input type="text" name="hourly_rate">
<br>
<label for="level">Level:</label>
<input type="text" name="level">
<br>
<label for="location">Location:</label>
<input type="text" name="location">
<br>
<label for="supplier">Supplier:</label>
<input type="text" name="supplier">
<br>
<input type="submit" value="Compare Rates">
</form>
</body>
</html>


